<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{url_for("static", filename="edit.css")}}'>
    <title>Edit Task:{{task.content}}</title>
</head>
<body>
    <h1>Update</h1>
    <h3>Old Task</h3>
    <form action="">
        <input type="text" name="content" id="content" value="{{task.content}}" readonly="true">  
    </form>
    <h3>New Task</h3>
    <form action="/edit/{{task.id}}" method="POST">
        <input type="text" name="content" id="content" >
        <input type="submit" value="Submit">
    </form>
</body>
</html>